<div class="container-fluid">
    <div class="dropdown" id="admin-menu">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose operation
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" data-admin-item="create-bike" href="#">Create Bike</a>
            <a class="dropdown-item" data-admin-item="update-bike" href="#">Update Bike</a>
            <a class="dropdown-item" data-admin-item="delete-bike" href="#">Delete Bike</a>
        </div>
    </div>
</div>
