<header>
{{#if loggedIn}}
    {{#if admin}}
        {{>adminmenu}}
    {{else}}
        {{> usermenu}}       
        {{> shoppingcart}}
    {{/if}}
{{else}}
    {{> guestmenu}}
{{/if}}

{{> jumbotron}}

</header>

<div class="container-fluid">
    <div class="row">
        {{> filter}}

        {{> bikelist}}
    </div>
</div>