<header>
{{#if loggedIn}}
    {{> usermenu}}
    {{> shoppingcart}}
{{else}}
    {{> guestmenu}}
{{/if}}

{{> jumbotron}}

</header>

<div class="container-fluid">
    <div class="row">
        {{> filter}}

        {{> bikelist}}
    </div>
</div>